<h1><%= @capsule.name %> - <%= @capsule.year %></h1>
<div class="container_show d-flex">
  <div id="capsule-top">
    <div class="capsule-show-image">
        <%= cl_image_tag @capsule.photos.first.key %>
    </div>
    <h3 class="mb-5"><%= @capsule.description %></h3>
    <div class="d-flex justify-content-between mt-4">
      <div id="conseil" class="border px-3">
        <h4 class="text-center">Nos conseils</h4>
        <p><%= @capsule.advices %></p>
      </div>
      <div class="cadre-gris">
        <h4>Tarif</h4>
        <p id="price-per-day"><%= @capsule.price_per_day %> €/j</p>
      </div>
    </div>
  </div>

  <div id="booking">
    <h2>Réservez maintenant ce voyage temporel</h2>
    <div class="m-auto">
      <%= render 'form_new_booking' %>
      <div class="d-flex justify-content-between mt-3 ms-3 me-3">
        <p id="count-price"></p>
        <p id="total-price"></p>
      </div>
      <div class="d-flex justify-content-between ms-3 me-3">
        <p id="title-service"></p>
        <p id="service-price"></p>
      </div>
      <div class="d-flex justify-content-between mt-3 ms-3 me-3" id="title-price">
      </div>
    </div>
  </div>
</div>
