<h1><%= @capsule.name %> - <%= @capsule.year %></h1>
<div class="container_show d-flex">
  <div id="capsule-top">
    <div class="capsule-show-image">
        <%= cl_image_tag @capsule.photo.key %>
    </div>
    <h3 class="mb-5"><%= @capsule.description %></h3>
    <div id="average_rating">
      <p>Note moyenne :
      <%= @average_rating %> / 5 (<%= @rating_number %>
      <%= @comments_number > 1? "notes laissées" : "note laissée" %>
      )
      <%  @round_average_rating.times do  %>
        <i class="fa-solid fa-star" style="color: #f2b407;"></i>
      <% end %>
      <%  (5-@round_average_rating).times do  %>
        <i class="fa-regular fa-star" style="color: #f2b407;"></i>
      <% end %>
      - <%= @comments_number %> commentaire<%= "s" if @comments_number > 1 %>
      </p>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <div id="conseil" class="border px-3">
        <h4 class="text-center">Nos conseils</h4>
        <p><%= @capsule.advices %></p>
      </div>
      <div class="cadre-gris">
        <h4>Tarif</h4>
        <p id="price-per-day"><%= @capsule.price_per_day %> €/j</p>
      </div>
    </div>
  </div>

  <div id="booking">
    <h2>Réservez maintenant ce voyage temporel</h2>
    <div class="m-auto">
      <%= render 'form_new_booking' %>
      <div class="d-flex justify-content-between mt-3 ms-3 me-3">
        <p id="count-price"></p>
        <p id="total-price"></p>
      </div>
      <div class="d-flex justify-content-between ms-3 me-3">
        <p id="title-service"></p>
        <p id="service-price"></p>
      </div>
      <div class="d-flex justify-content-between mt-3 ms-3 me-3" id="title-price">
      </div>
    </div>
  </div>
</div>
<%# commmentaires des users %>
<div id="comments" class="container_show">
  <h3 class="mb-4">Tous les commentaires</h3>
  <%= "Aucun commentaire n'a encore été déposé sur cette capsule." if @comments_number == 0 %>
  <% @capsule.reviews.each do |review| %>
    <p>
      <%  review.rating.round(0).times do  %>
        <i class="fa-solid fa-star" style="color: #f2b407;"></i>
      <% end %>
      <%  (5-review.rating.round(0)).times do  %>
        <i class="fa-regular fa-star" style="color: #f2b407;"></i>
      <% end %>
        -  "<%= review.comment %>"  -
        <strong>  <%= review.booking.user.first_name %> <%= review.booking.user.last_name %></strong>
         <span class="text-secondary">(<%= review.booking.start_date.day %>/<%= review.booking.start_date.month %>/<%= review.booking.start_date.year %>)
         </span>
    </p>
  <% end %>
</div>
