<h3>MON PROFIL UTILISATEUR</h3>
<div class="container_profil">
  <div class="identity">
    <div class="avatar-container">
      <%= cl_image_tag("avatar_lu1q0p", class: "avatar") %>
    </div>

    <div class="informations">
      <div class="full-username">
          <p class="first-name">Prenom: <%= @user.first_name %></p>
          <p class="last-name">Nom: <%= @user.last_name %></p>
          <p class="email" >Email: <%= @user.email %></p>
      </div>
      <div class="user-profile">
          <button class= "btn btn-primary">PARTICULIER</button>
          <button class= "btn btn-primary">PROFESSIONNEL</button>
      </div>
    </div>
  </div>
<div>
  <h3 class="booking-title">Vos réservations</h1>
  <div class="booking-container">
    <% @user.bookings.each do |booking| %>
      <div class="booking-card">
        <%= cl_image_tag booking.capsule.photo.key, class: "booking-image" %>
        <div class="booking-card-infos">
          <div class="booking-details">
            <h2 class="booking-name"><%= booking.capsule.name %></h2>
            <p class="booking-year"><%= booking.capsule.year %></p>
          </div>
          <div>
            <h4>Vos dates de voyage</h4>
            <p class="booking-description"><%= booking.start_date %></p>
            <p class="booking-description"><%= booking.end_date %></p>
          </div>
          <h2 class="card-trip-pricing">Le tarif par jour : <%= booking.capsule.price_per_day %>€</h2>
          <%= link_to "Annuler ma réservation", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div>
  <h3 class="booking-title">Les capsules que vous proposez</h1>
  <% if @user.capsules.length == 0 %>
    <p class="text-danger text-center mb-5">Vous ne proposez encore aucune capsule</p>
  <% else %>
    <div class="container booking-container">
      <% @user.capsules.each do |capsule| %>
        <div class="booking-card">
          <%= cl_image_tag capsule.photo.key, class: "booking-image" %>
          <div class="booking-card-infos">
            <div class="booking-details">
              <h2 class="booking-name"><%= capsule.name %></h2>
              <p class="booking-year"><%= capsule.year %></p>
            </div>
            <h2 class="card-trip-pricing">Le tarif par jour : <%= capsule.price_per_day %>€</h2>
            <%= link_to "Supprimer cette capsule", capsule_path(capsule), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
</div>
