<div class="container-user-page">
  <%= link_to "Mon profil", "#profil", class: "navigate" %>
  <%= link_to "Mes voyages confirmés", "#mes-voyages", class: "navigate" %>
  <%= link_to "Vos capsules", "#capsules", class: "navigate" %>
  <%= link_to "Réservations à confirmer", "#a-confirmer", class: "navigate" %>
  <%= link_to "Réservations confirmées", "#commandes-confirmees", class: "navigate" %>
</div>

<h3 id="profil">MON PROFIL UTILISATEUR</h3>
<div class="container_profil">
  <div class="identity">
    <div class="avatar-container">
      <%= cl_image_tag current_user.photo.key, class: "avatar-large" %>
    </div>

    <div class="informations">
      <div class="full-username">
          <p class="first-name">Prenom: <%= @user.first_name %></p>
          <p class="last-name">Nom: <%= @user.last_name %></p>
          <p class="email" >Email: <%= @user.email %></p>
      </div>
    </div>
  </div>

<%# on affiche toutes les voyages réservés par l'utilisateur %>
<div id="mes-voyages">
  <h3 class="booking-title">Vos voyages</h1>
  <div class="booking-container">
    <% @user.bookings.each do |booking| %>
      <div class="booking-card">
        <%= cl_image_tag booking.capsule.photo.key, class: "booking-image" %>
        <div class="booking-card-infos">
          <div class="booking-details">
            <h2 class="booking-name"><%= booking.capsule.name %></h2>
            <p class="booking-year"><%= booking.capsule.year %></p>
          </div>
          <div>
            <h4>Vos dates de voyage</h4>
            <p class="booking-description"><%= booking.start_date.strftime("%d-%m-%Y") %></p>
            <p class="booking-description"><%= booking.end_date.strftime("%d-%m-%Y") %></p>
          </div>
          <% if booking.statu == "confirmé" %>
            <div>
              <p class="statut-accept"><strong><%= booking.statu.capitalize %></strong></p>
            </div>
          <% elsif booking.statu == "en attente" %>
            <div>
              <p class="statut-pending"><strong><%= booking.statu.capitalize %></strong></p>
            </div>
          <% elsif booking.statu == "refusé" %>
            <div>
              <p class="statut-decline"><strong><%= booking.statu.capitalize %></strong></p>
            </div>
          <% end %>
          <h2 class="card-trip-pricing">Montant total : <%= booking.total_price %>€</h2>
          <%= link_to "Annuler ma réservation", booking_path(booking), class: "booking-delete-link",
          data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr de supprimer cette réservation ? AUCUN REMBOURSEMENT, NADA !"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# on affiche toutes les capsules crées par l'utilisateur %>
<div id="capsules">
  <h3 class="booking-title">Les capsules que vous proposez</h1>
  <% if @user.capsules.length == 0 %>
    <p class="text-danger text-center mb-5">Vous ne proposez encore aucune capsule</p>
  <% else %>
    <div class="container booking-container">
      <% @user.capsules.each do |capsule| %>
        <div class="booking-card">
          <%= cl_image_tag capsule.photo.key, class: "booking-image" %>
          <div class="booking-card-infos">
            <div class="booking-details">
              <h2 class="booking-name"><%= capsule.name %></h2>
              <p class="booking-year"><%= capsule.year %></p>
            </div>
            <h2 class="card-trip-pricing">Le tarif par jour : <%= capsule.price_per_day %>€</h2>
            <%= link_to "Modifier cette capsule", edit_capsule_path(capsule), class: "booking-edit-link" %>
            <%= link_to "Supprimer cette capsule", capsule_path(capsule), class: "booking-delete-link",
            data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr de supprimer cette capsule de votre catalogue ?"} %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%# on affiche toutes les commandes passées auprès de l'owner de la capsule et qui sont attente %>
<div class="container-product" id="a-confirmer">
  <h3 class="booking-title">Les réservations en attente de votre confirmation</h1>
  <% @user.capsules.each do |capsule| %>
    <% capsule.bookings.each do |booking| %>
      <% if booking.statu == "en attente" %>
        <div class="card-product">
          <%= cl_image_tag booking.capsule.photo.key %>
          <div class="card-product-infos" id="details">
            <h4><%= booking.capsule.name %></h4>
            <p>Réservation faite par</h4>
            <h6><%= booking.user.first_name %> <%= booking.user.last_name %></h6>
            <p>Dates de la réservation</h4>
            <h6>du <%= booking.start_date.strftime("%d-%m-%Y") %> au <%= booking.end_date.strftime("%d-%m-%Y") %></h6>
          </div>
          <div class="card-product-infos" id="price">
            <h4>Prix total de la réservation</h4>
            <h5><%= booking.total_price %>€</h5>
          </div>
          <div class="card-product-infos" id="buttons">
            <h6><%= button_to "Accepter", accept_booking_path(booking), method: :patch, class: "capsule-confirm-link" %></h6>
            <h6><%= button_to "Refuser", decline_booking_path(booking), method: :patch, class: "capsule-confirm-link" %></h6>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<%# on affiche toutes les commandes passées auprès de l'utilisateur %>
<div class="container-product" id="commandes-confirmees">
  <h3 class="booking-title">Les commandes que vous avez confirmées</h1>
  <% if @bookings_received.length == 0 %>
    <p class="text-danger text-center mb-5">Vous n'avez encore confirmé aucune commande</p>
  <% else %>
    <% @user.capsules.each do |capsule| %>
      <% capsule.bookings.each do |booking| %>
        <% if booking.statu == "confirmé" %>
          <div class="card-product">
            <%= cl_image_tag booking.capsule.photo.key %>
            <div class="card-product-infos" id="details">
              <h4><%= booking.capsule.name %></h4>
              <p>Réservation faite par</h4>
              <h6><%= booking.user.first_name %> <%= booking.user.last_name %></h6>
              <p>Dates de la réservation</h4>
              <h6>du <%= booking.start_date.strftime("%d-%m-%Y") %> au <%= booking.end_date.strftime("%d-%m-%Y") %></h6>
            </div>
            <div class="card-product-infos" id="price">
              <h4>Prix total de la réservation</h4>
              <h5><%= booking.total_price %>€</h5>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
  <%# on affiche toutes les commandes refusées par le owner %>
<div class="container-product" id="commandes-refusées">
  <h3 class="booking-title">Les commandes que vous avez refusées</h1>
  <% if @bookings_received.length == 0 %>
    <p class="text-danger text-center mb-5">Vous n'avez encore confirmé aucune commande</p>
  <% else %>
    <% @user.capsules.each do |capsule| %>
      <% capsule.bookings.each do |booking| %>
        <% if booking.statu == "refusé" %>
          <div class="card-product">
            <%= cl_image_tag booking.capsule.photo.key %>
            <div class="card-product-infos" id="details">
              <h4><%= booking.capsule.name %></h4>
              <p>Réservation faite par</h4>
              <h6><%= booking.user.first_name %> <%= booking.user.last_name %></h6>
              <p>Dates de la réservation</h4>
              <h6>du <%= booking.start_date.strftime("%d-%m-%Y") %> au <%= booking.end_date.strftime("%d-%m-%Y") %></h6>
            </div>
            <div class="card-product-infos" id="price">
              <h4>Prix total de la réservation</h4>
              <h5><%= booking.total_price %>€</h5>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="create-capsule-button-container">
  <%= link_to "Créer une capsule", new_capsule_path, class: "create-capsule-button" %>
</div>
