
<header class="header">
  <video class="header-video" autoplay muted loop>
    <source src="<%= video_path('/videos/header-video.mp4') %>" type="video/mp4">
  </video>

  <div class="header-overlay"></div>

    <div class="header-content">
      <h1 class="header-title">[apsu]e <strong>corp</strong></h1>
      <p class="header-subtitle">Travelling without moving</p>


<div class=main-search>
    <div class="search-form-control">
      <%= form_with url: capsules_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "control",
          placeholder:"le voyage commence ici"%>
          <%= submit_tag "RECHERCHE", class: "btn btn-primary" %>
        </div>

          <p class="header-description"><em>passionné de voyages, d'histoire ou tout simplement curieux<br>
          venez revivre les evenements qui ont marqué l'Histoire</em></p>
        </div>

      <% end %>
  </div>
</div>
</header>


<!-- List of Capsules -->
<div class='main-capsule-container'>
  <h1 class="capsules-title">les [apsu]es</h1>
  <p>Concert mythique, évenement historique, bataille célèbre, rencontre sportive...<br>
  <strong>Soyez présent </strong>(ou passé)</p>
    </div>
  <div class="container capsules-container">
    <% @capsules.each do |capsule| %>
      <div class="capsule-card">
        <%= cl_image_tag capsule.photos.first.key, class: "capsule-image" %>
        <div class="capsule-card-infos">
          <div class="capsule-details">
            <h2 class="capsule-name"><%= capsule.name %></h2>
            <p class="capsule-year"><%= capsule.year %></p>
          </div>
          <div>
            <p class="capsule-description"><%= capsule.description %></p>
          </div>
          <h2 class="card-trip-pricing">Tarif par jour : <%= capsule.price_per_day %>€</h2>
          <%= link_to 'Show', capsule_path(capsule), class: "capsule-show-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
